.sticky {
    position: sticky;
    top     : 0;
    z-index : 2000;
}

.keyb {
    justify-content : center;
    z-index         : 1;
    font-size       : 40px;
    font-family     : serif;
    background-color: cornflowerblue;
    overflow-x      : auto;
    width           : 100vw;
    text-align      : center;
}

@media print {
    .keyb {
        display: none;
    }

    .crossword-current {
        display: none;
    }
}

.keyboard-group {
    white-space: nowrap;
    display    : inline-block;
}

.keyboard-key {
    border    : 1px solid black;
    display   : inline-block;
    min-width : 1.1em;
    min-height: 1.1em;
    text-align: center;
    cursor    : pointer;
    margin    : 3px;
    padding   : 3px;
}

.canvas-parent {
    max-width : 100vw;
    overflow-x: auto;
    display   : inline-block;
    position  : relative;
}

div.success {
    display         : none;
    position        : absolute;
    background-color: white;
    top             : 30%;
    width           : 30%;
    min-width       : 7ch;
    border-radius   : 10px;
    padding         : 10px;
    left            : 30%;
    z-index         : 1000;
    font            : 40px serif;
    text-transform  : uppercase;
    text-align      : center;
    border          : 20px solid lightgreen;
}


div.success img {
    width: 80%;
}

#crossword-drawing.finished+div.success {
    display: block;
}

.crossword-current {
    font            : 40px serif;
    position        : sticky;
    bottom          : 0px;
    text-align      : right;
    z-index         : 1;
    opacity         : 70%;
    background-color: white;
}

#crossword-list {
    font        : 40px serif;
    list-style  : none;
    cursor      : pointer;
    break-inside: avoid;
    columns: 2;
}

#crossword-list li.valid {
    text-decoration: line-through;
    color          : gray;
}

#crossword-list li.valid::after {
    content            : "";
    background-image   : url("https://upload.wikimedia.org/wikipedia/commons/8/8f/Checkmark.svg");
    width              : 1em;
    height             : 1em;
    background-position: bottom;
    background-size    : 90%;
    display            : inline-block;
    background-repeat  : no-repeat;
}

#drawing {
    font: 50px serif;
}